In [1]:
!pipenv install pandas spacy

Installing pandas...
⠧ Installing pandas.....^C
⠙ Installing pandas...

Aborted!

In [3]:
!python -m spacy download en_core_web_sm

WARNING: Ignoring invalid distribution -andas (/Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -andas (/Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages)
Collecting en-core-web-sm==3.5.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 393.1 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: spacy<3.6.0,>=3.5.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from en-core-web-sm==3.5.0) (3.5.1)
Requirement already satisfied: numpy>=1.15.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.24.2)
Requirement already satisfied: setuptools in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (67.6.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.28.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.4.6)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.10.7)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.65.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.7)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.3.0)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.1.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.8)
Requirement already satisfied: jinja2 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.1.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (23.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (6.3.0)
Requirement already satisfied: pathy>=0.10.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.10.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.12)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.8)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (8.1.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.26.15)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from typer<0.8.0,>=0.3.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages (from jinja2->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.1.2)
WARNING: Ignoring invalid distribution -andas (/Users/aliayad/.local/share/virtualenvs/data-preprocessing-3UR649jN/lib/python3.10/site-packages)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [4]:
import pandas as pd
import numpy as np
import spacy
import re

In [5]:
en = spacy.load('en_core_web_sm')
stopwords = en.Defaults.stop_words
stopwords.add("-")

In [6]:
def remove_references_nums(refs):
      cleaned_refs = []
      cib_ref_number_regex = r"^FT.{12}$"
      cib_ref_number_pattern = re.compile(cib_ref_number_regex)

      generic_ref_regex = r"\w*\d\w*[a-zA-Z]\w*|\w*[a-zA-Z]\w*\d\w*"
      generic_ref_pattern = re.compile(generic_ref_regex)

      numbers_regex = r"\d+"
      numbers_pattern = re.compile(numbers_regex)
      
      for ref in refs:
        if cib_ref_number_pattern.match(ref):
            continue
        elif generic_ref_pattern.match(ref):
            continue
        elif numbers_pattern.match(ref):
            continue
        else:
            cleaned_refs.append(ref)
      return cleaned_refs

In [7]:
def remove_stopwords(s):
    q = []
    for i in s:
        if i.lower() not in stopwords:
          q.append(i)
    return q

In [8]:
def ref_ipn_check(s):
    ipn_regex = r"^FT\w{10}\s-\sPayee Name:"
    cib_online_transfer = "Online Transfer-"

    if re.match(ipn_regex, s):
        return True

    if re.match(cib_online_transfer, s):
        return True

    return False

In [8]:
df = pd.read_csv("CIBStatement.csv")

In [9]:
s_data = df[['Narrative', 'Debit', 'Credit']]

In [10]:
s_data["Narrative_Tokenized"] = s_data["Narrative"].apply(lambda x: None if ref_ipn_check(x) else x.split(" "))

<ipython-input-10-31d4c1c9249c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_data["Narrative_Tokenized"] = s_data["Narrative"].apply(lambda x: None if ref_ipn_check(x) else x.split(" "))

In [11]:
s_data.iloc[:]

,Narrative,Debit,Credit,Narrative_Tokenized
0,FT23005LF8V6 - COOK DOOR MENYA 18HEG 00320725 ...,138.00,NaN,"[FT23005LF8V6, -, COOK, DOOR, MENYA, 18HEG, 00..."
1,FT23005ZYXS1 - MOBIL CAIRO EG 5264390000005656,200.08,NaN,"[FT23005ZYXS1, -, MOBIL, CAIRO, EG, 5264390000..."
2,FT23005D13MY - Talabat Cairo EG 526805 5264390...,143.84,NaN,"[FT23005D13MY, -, Talabat, Cairo, EG, 526805, ..."
3,FT23009XWHYH - ACH(414OTDB230098010) RTIN(مصرو,NaN,"12,000.00","[FT23009XWHYH, -, ACH(414OTDB230098010), RTIN(..."
4,FT23009KYP3J - PAYMOB Abd Elrah CAIRO EG 52643...,106.00,NaN,"[FT23009KYP3J, -, PAYMOB, Abd, Elrah, CAIRO, E..."
...,...,...,...,...
87,FT23088LZT4R - BELGIUM FOR SWEETS THO CAIRO N ...,425.00,NaN,"[FT23088LZT4R, -, BELGIUM, FOR, SWEETS, THO, C..."
88,FT23088WZBVX - CHILLOUT SADAT 1 CAIRO N A 07BE...,205.00,NaN,"[FT23088WZBVX, -, CHILLOUT, SADAT, 1, CAIRO, N..."
89,100038175321 - Credit Interest,NaN,1.08,"[100038175321, -, Credit, Interest]"
90,FT230927K18J - Orange Egypt 1 EG 517460 526439...,115.00,NaN,"[FT230927K18J, -, Orange, Egypt, 1, EG, 517460..."
91,FT230921HVP5 - PETS CORNER CAIRO EG 5264390000...,70.00,NaN,"[FT230921HVP5, -, PETS, CORNER, CAIRO, EG, 526..."

In [12]:
s_data.dropna(subset="Narrative_Tokenized", inplace=True)

<ipython-input-12-e40aee870fde>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_data.dropna(subset="Narrative_Tokenized", inplace=True)

In [13]:
s_data.iloc[:]

,Narrative,Debit,Credit,Narrative_Tokenized
0,FT23005LF8V6 - COOK DOOR MENYA 18HEG 00320725 ...,138.00,NaN,"[FT23005LF8V6, -, COOK, DOOR, MENYA, 18HEG, 00..."
1,FT23005ZYXS1 - MOBIL CAIRO EG 5264390000005656,200.08,NaN,"[FT23005ZYXS1, -, MOBIL, CAIRO, EG, 5264390000..."
2,FT23005D13MY - Talabat Cairo EG 526805 5264390...,143.84,NaN,"[FT23005D13MY, -, Talabat, Cairo, EG, 526805, ..."
3,FT23009XWHYH - ACH(414OTDB230098010) RTIN(مصرو,NaN,"12,000.00","[FT23009XWHYH, -, ACH(414OTDB230098010), RTIN(..."
4,FT23009KYP3J - PAYMOB Abd Elrah CAIRO EG 52643...,106.00,NaN,"[FT23009KYP3J, -, PAYMOB, Abd, Elrah, CAIRO, E..."
...,...,...,...,...
87,FT23088LZT4R - BELGIUM FOR SWEETS THO CAIRO N ...,425.00,NaN,"[FT23088LZT4R, -, BELGIUM, FOR, SWEETS, THO, C..."
88,FT23088WZBVX - CHILLOUT SADAT 1 CAIRO N A 07BE...,205.00,NaN,"[FT23088WZBVX, -, CHILLOUT, SADAT, 1, CAIRO, N..."
89,100038175321 - Credit Interest,NaN,1.08,"[100038175321, -, Credit, Interest]"
90,FT230927K18J - Orange Egypt 1 EG 517460 526439...,115.00,NaN,"[FT230927K18J, -, Orange, Egypt, 1, EG, 517460..."
91,FT230921HVP5 - PETS CORNER CAIRO EG 5264390000...,70.00,NaN,"[FT230921HVP5, -, PETS, CORNER, CAIRO, EG, 526..."

In [14]:
s_data["Narrative_Tokenized"] = s_data["Narrative_Tokenized"].apply(lambda x: remove_stopwords(x))

<ipython-input-14-696d0d54d7d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_data["Narrative_Tokenized"] = s_data["Narrative_Tokenized"].apply(lambda x: remove_stopwords(x))

In [15]:
s_data["Narrative_Tokenized"] = s_data["Narrative_Tokenized"].apply(lambda x: remove_references_nums(x))

<ipython-input-15-a10b8047da84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_data["Narrative_Tokenized"] = s_data["Narrative_Tokenized"].apply(lambda x: remove_references_nums(x))

In [16]:
s_data.iloc[:]

,Narrative,Debit,Credit,Narrative_Tokenized
0,FT23005LF8V6 - COOK DOOR MENYA 18HEG 00320725 ...,138.00,NaN,"[COOK, DOOR, MENYA]"
1,FT23005ZYXS1 - MOBIL CAIRO EG 5264390000005656,200.08,NaN,"[MOBIL, CAIRO, EG]"
2,FT23005D13MY - Talabat Cairo EG 526805 5264390...,143.84,NaN,"[Talabat, Cairo, EG]"
3,FT23009XWHYH - ACH(414OTDB230098010) RTIN(مصرو,NaN,"12,000.00","[ACH(414OTDB230098010), RTIN(مصرو]"
4,FT23009KYP3J - PAYMOB Abd Elrah CAIRO EG 52643...,106.00,NaN,"[PAYMOB, Abd, Elrah, CAIRO, EG]"
...,...,...,...,...
87,FT23088LZT4R - BELGIUM FOR SWEETS THO CAIRO N ...,425.00,NaN,"[BELGIUM, SWEETS, THO, CAIRO, N]"
88,FT23088WZBVX - CHILLOUT SADAT 1 CAIRO N A 07BE...,205.00,NaN,"[CHILLOUT, SADAT, CAIRO, N]"
89,100038175321 - Credit Interest,NaN,1.08,"[Credit, Interest]"
90,FT230927K18J - Orange Egypt 1 EG 517460 526439...,115.00,NaN,"[Orange, Egypt, EG]"
91,FT230921HVP5 - PETS CORNER CAIRO EG 5264390000...,70.00,NaN,"[PETS, CORNER, CAIRO, EG]"

In [17]:
s_data["Clean_Narrative"] = s_data["Narrative_Tokenized"].apply(lambda x: " ". join(x))

<ipython-input-17-ccaa84db7fde>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_data["Clean_Narrative"] = s_data["Narrative_Tokenized"].apply(lambda x: " ". join(x))

In [18]:
s_data.iloc[20:50]

,Narrative,Debit,Credit,Narrative_Tokenized,Clean_Narrative
20,Outward - Online Transfer,"3,000.00",NaN,"[Outward, Online, Transfer]",Outward Online Transfer
21,FT23025LG64F - BRKA AIRO EG BRKN0026 526439000...,105.00,NaN,"[BRKA, AIRO, EG]",BRKA AIRO EG
22,FT23030ZC561 - Orange Egypt 1 EG 517460 526439...,143.00,NaN,"[Orange, Egypt, EG]",Orange Egypt EG
23,FT230302C0ZD - CHILLOUT AUC CAIRO N 07AEG 0031...,200.00,NaN,"[CHILLOUT, AUC, CAIRO, N]",CHILLOUT AUC CAIRO N
24,FT23031Z5FH8 - ACH(414OTDB230300006) RTIN(مصرو,NaN,"18,500.00","[ACH(414OTDB230300006), RTIN(مصرو]",ACH(414OTDB230300006) RTIN(مصرو
25,FT23031W33DJ - CIB MOBILE EL NARGS CAIRO EG 08...,"12,000.00",NaN,"[CIB, MOBILE, EL, NARGS, CAIRO, EG]",CIB MOBILE EL NARGS CAIRO EG
26,FT23031F5N9N - CIB MOBILE EL NARGS CAIRO EG 08...,"1,500.00",NaN,"[CIB, MOBILE, EL, NARGS, CAIRO, EG]",CIB MOBILE EL NARGS CAIRO EG
27,FT23031NSZ6T - MCDONALDS MOBIL ELNARG CAIRO N ...,192.50,NaN,"[MCDONALDS, MOBIL, ELNARG, CAIRO, N]",MCDONALDS MOBIL ELNARG CAIRO N
28,100038175321 - Credit Interest,NaN,0.82,"[Credit, Interest]",Credit Interest
29,FT23036ZSG24 - NBE ATM866 DAHAB EG NBE23530 52...,305.00,NaN,"[NBE, DAHAB, EG]",NBE DAHAB EG
30,FT2303658CM0 - CHILLOUT AUC CAIRO N 07AEG 0031...,200.00,NaN,"[CHILLOUT, AUC, CAIRO, N]",CHILLOUT AUC CAIRO N
31,FT23036X57LZ - MCDONALDS WATANEYA EL CAIRO N 0...,75.00,NaN,"[MCDONALDS, WATANEYA, EL, CAIRO, N]",MCDONALDS WATANEYA EL CAIRO N
32,FT2303663H84 - N B CAIRO EG 5264390000005656,190.00,NaN,"[N, B, CAIRO, EG]",N B CAIRO EG
33,FT2303795ZJL - CIB Dyarna Dahab H DAHAB EG 085...,550.00,NaN,"[CIB, Dyarna, Dahab, H, DAHAB, EG]",CIB Dyarna Dahab H DAHAB EG
34,FT23037R9D1Z - NBE ATM672 DAHAB EG NBE23530 52...,655.00,NaN,"[NBE, DAHAB, EG]",NBE DAHAB EG
35,FT23037R9D1Z - NBE ATM672 DAHAB EG NBE23530 52...,NaN,655.00,"[NBE, DAHAB, EG]",NBE DAHAB EG
36,FT23037YJRJ5 - SHAMS DAHAB MASHRABA P DAHAB EG...,505.00,NaN,"[SHAMS, DAHAB, MASHRABA, P, DAHAB, EG, EDE]",SHAMS DAHAB MASHRABA P DAHAB EG EDE
37,FT23037FC8H9 - Orange Egypt 1 EG 517460 526439...,115.00,NaN,"[Orange, Egypt, EG]",Orange Egypt EG
38,FT23038RYDR8 - myfawry New Cairo EG NBE01611 5...,16.00,NaN,"[myfawry, New, Cairo, EG]",myfawry New Cairo EG
39,FT23038BZG89 - myfawry New Cairo EG NBE01611 5...,16.00,NaN,"[myfawry, New, Cairo, EG]",myfawry New Cairo EG
40,FT230398PHMZ - MCDONALDS EGYPT CAIRO N 07AEG 8...,461.50,NaN,"[MCDONALDS, EGYPT, CAIRO, N]",MCDONALDS EGYPT CAIRO N
41,FT230402GQV4 - EASY ACCOUNT MONTHLY SUBSCRIPTI...,10.00,NaN,"[EASY, ACCOUNT, MONTHLY, SUBSCRIPTION, F]",EASY ACCOUNT MONTHLY SUBSCRIPTION F
42,FT23043Z91SP - TAZKARTI GIZA EG 5264390000005656,75.00,NaN,"[TAZKARTI, GIZA, EG]",TAZKARTI GIZA EG
43,FT23043V7H9S - TAZKARTI GIZA EG 5264390000005656,75.00,NaN,"[TAZKARTI, GIZA, EG]",TAZKARTI GIZA EG
44,FT23043BXHYL - MOBIL CAIRO EG 5264390000005656,300.07,NaN,"[MOBIL, CAIRO, EG]",MOBIL CAIRO EG
45,FT23044QR5RG - Orange Egypt 1 EG 517460 526439...,43.00,NaN,"[Orange, Egypt, EG]",Orange Egypt EG
46,FT23047Z5708 - Talabat Cairo EG 526805 5264390...,85.94,NaN,"[Talabat, Cairo, EG]",Talabat Cairo EG
47,FT23051WKSC5 - myfawry New Cairo EG NBE01611 5...,16.00,NaN,"[myfawry, New, Cairo, EG]",myfawry New Cairo EG
48,Outward - Online Transfer,150.00,NaN,"[Outward, Online, Transfer]",Outward Online Transfer
49,FT230576242P - WE FBB Pre Giza EG NBE01040 526...,758.10,NaN,"[FBB, Pre, Giza, EG]",FBB Pre Giza EG

In [19]:
clean_narrative = s_data

In [20]:
clean_narrative["Clean_Narrative"] = clean_narrative["Clean_Narrative"].apply(lambda x: np.nan if x == "" else x)

<ipython-input-20-6c82454417b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_narrative["Clean_Narrative"] = clean_narrative["Clean_Narrative"].apply(lambda x: np.nan if x == "" else x)

In [21]:
clean_narrative.dropna(subset="Clean_Narrative", inplace=True)

<ipython-input-21-800a27003b66>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_narrative.dropna(subset="Clean_Narrative", inplace=True)

In [22]:
clean_narrative.tail(20)

,Narrative,Debit,Credit,Narrative_Tokenized,Clean_Narrative
67,FT23068SKRYQ - ACH(414OTDB230682001) RTIN(مصرو,NaN,"5,000.00","[ACH(414OTDB230682001), RTIN(مصرو]",ACH(414OTDB230682001) RTIN(مصرو
69,FT23068JX72M - EASY ACCOUNT MONTHLY SUBSCRIPTI...,10.00,NaN,"[EASY, ACCOUNT, MONTHLY, SUBSCRIPTION, F]",EASY ACCOUNT MONTHLY SUBSCRIPTION F
71,FT23071NMPFS - SUEZ ATM197 asser City EG ATM19...,505.00,NaN,"[SUEZ, asser, City, EG]",SUEZ asser City EG
72,FT2307115BVF - myfawry New Cairo EG NBE01611 5...,38.21,NaN,"[myfawry, New, Cairo, EG]",myfawry New Cairo EG
73,FT230740WF76 - myfawry New Cairo EG NBE01611 5...,109.64,NaN,"[myfawry, New, Cairo, EG]",myfawry New Cairo EG
74,FT230785DLND - E-Statement Quarterly fees for ...,7.50,NaN,"[E-Statement, Quarterly, fees]",E-Statement Quarterly fees
75,FT23078NQSXZ - FLAMINGO CAIRO N 07AEG 00153702...,57.50,NaN,"[FLAMINGO, CAIRO, N]",FLAMINGO CAIRO N
76,FT230799JLJ5 - MCDONALDS CHILL OUT AU CAIRO N ...,188.00,NaN,"[MCDONALDS, CHILL, AU, CAIRO, N]",MCDONALDS CHILL AU CAIRO N
77,FT23081BCDZP - MOBIL OIL CAIRO EG 526439000000...,208.00,NaN,"[MOBIL, OIL, CAIRO, EG]",MOBIL OIL CAIRO EG
78,FT230822Q1LP - BRKA AIRO EG BRKN0026 526439000...,255.00,NaN,"[BRKA, AIRO, EG]",BRKA AIRO EG
80,FT23085647B8 - PETS CORNER CAIRO EG 5264390000...,70.00,NaN,"[PETS, CORNER, CAIRO, EG]",PETS CORNER CAIRO EG
81,FT23085KG33B - FLAMINGO CAIRO N 07AEG 25425403...,20.50,NaN,"[FLAMINGO, CAIRO, N]",FLAMINGO CAIRO N
82,FT230851C6KS - MOBIL CAIRO EG 5264390000005656,221.50,NaN,"[MOBIL, CAIRO, EG]",MOBIL CAIRO EG
83,FT2308678SM0 - G2ABVSHOP AMSTERDAM NL ZEN00004...,262.82,NaN,"[AMSTERDAM, NL]",AMSTERDAM NL
86,FT23087FDV84 - MOBIL CAIRO EG 5264390000005656,150.00,NaN,"[MOBIL, CAIRO, EG]",MOBIL CAIRO EG
87,FT23088LZT4R - BELGIUM FOR SWEETS THO CAIRO N ...,425.00,NaN,"[BELGIUM, SWEETS, THO, CAIRO, N]",BELGIUM SWEETS THO CAIRO N
88,FT23088WZBVX - CHILLOUT SADAT 1 CAIRO N A 07BE...,205.00,NaN,"[CHILLOUT, SADAT, CAIRO, N]",CHILLOUT SADAT CAIRO N
89,100038175321 - Credit Interest,NaN,1.08,"[Credit, Interest]",Credit Interest
90,FT230927K18J - Orange Egypt 1 EG 517460 526439...,115.00,NaN,"[Orange, Egypt, EG]",Orange Egypt EG
91,FT230921HVP5 - PETS CORNER CAIRO EG 5264390000...,70.00,NaN,"[PETS, CORNER, CAIRO, EG]",PETS CORNER CAIRO EG

In [23]:
clean_narrative["Clean_Narrative"].to_csv('clean_narrative.txt', sep='\t', index=False)